In [1]:
# a. Import Library Pandas
import pandas as pd

# b. Muat dataset 'sales_data.csv' ke dalam DataFrame.
sales_data = pd.read_csv('sales_data.csv')
# a. Tampilkan 5 baris pertama dari dataset.
print(sales_data.head(), "\n")

# b. Gunakan .info() untuk melihat informasi dasar dataset.
sales_data.info(), "\n"

# a. Hitung total unit terjual menggunakan .sum() pada kolom Sales.
print("==========================================================")
total_unit_terjual = sales_data['QUANTITYORDERED'].sum()
print("Total unit terjual:", total_unit_terjual)

# b. Temukan rata-rata unit terjual per transaksi.
rata_rata_unit_per_transaksi = sales_data['QUANTITYORDERED'].mean()
print("Rata-rata unit per transaksi:", rata_rata_unit_per_transaksi)
print("==========================================================")

   ORDERNUMBER  QUANTITYORDERED  PRICEEACH  ORDERLINENUMBER    SALES  \
0        10107               30      95.70                2  2871.00
1        10121               34      81.35                5  2765.90
2        10134               41      94.74                2  3884.34
3        10145               45      83.26                6  3746.70
4        10159               49     100.00               14  5205.27

         ORDERDATE   STATUS  PRODUCTLINE PRODUCTCODE              CUSTOMERNAME
0   2/24/2003 0:00  Shipped  Motorcycles    S10_1678         Land of Toys Inc.
1    5/7/2003 0:00  Shipped  Motorcycles    S10_1678        Reims Collectables
2    7/1/2003 0:00  Shipped  Motorcycles    S10_1678           Lyon Souveniers
3   8/25/2003 0:00  Shipped  Motorcycles    S10_1678         Toys4GrownUps.com
4  10/10/2003 0:00  Shipped  Motorcycles    S10_1678  Corporate Gift Ideas Co.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2823 entries, 0 to 2822
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ORDERNUMBER      2823 non-null   int64
 1   QUANTITYORDERED  2823 non-null   int64
 2   PRICEEACH        2823 non-null   float64
 3   ORDERLINENUMBER  2823 non-null   int64
 4   SALES            2823 non-null   float64
 5   ORDERDATE        2823 non-null   object
 6   STATUS           2823 non-null   object
 7   PRODUCTLINE      2823 non-null   object
 8   PRODUCTCODE      2823 non-null   object
 9   CUSTOMERNAME     2823 non-null   object
dtypes: float64(2), int64(3), object(5)
memory usage: 220.7+ KB
==========================================================
Total unit terjual: 99067
Rata-rata unit per transaksi: 35.09280906836698
==========================================================